:root{
    font-size: 62.5%;
}

body{
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

h1 {
  width: 96rem;
  margin: 4rem auto;
  font-size: 3.6rem;
  color:hsl(212, 95%, 40%);
}

nav {
  width: 96rem;
  margin: 4rem auto;
}

ul {
  list-style: none;
}

ul li {
  border-bottom: 1px solid rgb(214, 214, 214);
  padding: 2rem 0;
}

ul li a {
  text-decoration: none;
  color: black;
  font-size: 3.2rem;
}

ul li a:hover{
  text-decoration: underline;
  color: #0366d6;
}
